<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%=homeContent%></p>

<% composePost.forEach(function(post){ %>
  <div class="item">
    <h1><%=post.title%> </h1>
    <p>
      <%=post.body%>
      </p>

  </div>
<%  })  %>


<%- include("partials/footer"); -%>
